<?xml version="1.0"?>
<config>
    <modules>
        <Eralis_GoogleTagManager>
            <version>0.1.0</version>
        </Eralis_GoogleTagManager>
    </modules>
    <global>
        <models>
            <eralis_googletagmanager>
                <class>Eralis_GoogleTagManager_Model</class>
                <resourceModel>eralis_googletagmanager_resource</resourceModel>
            </eralis_googletagmanager>
        </models>
        <blocks>
            <eralis_googletagmanager>
                <class>Eralis_GoogleTagManager_Block</class>
            </eralis_googletagmanager>
        </blocks>
        <helpers>
            <eralis_googletagmanager>
                <class>Eralis_GoogleTagManager_Helper</class>
            </eralis_googletagmanager>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <eralis_googletagmanager_checkout_success>
                        <class>eralis_googletagmanager/observer</class>
                        <method>addTransactionData</method>
                    </eralis_googletagmanager_checkout_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <eralis_googletagmanager_checkout_success>
                        <class>eralis_googletagmanager/observer</class>
                        <method>addTransactionData</method>
                    </eralis_googletagmanager_checkout_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <eralis_googletagmanager>
                    <file>eralis/googletagmanager.xml</file>
                </eralis_googletagmanager>
            </updates>
        </layout>
    </frontend>
    <default>
        <eralis_googletagmanager>
            <general>
                <enabled>1</enabled>
            </general>
            <data_layer>
                <data_layer_name>dataLayer</data_layer_name>
                <customer_data_enabled>1</customer_data_enabled>
                <order_data_enabled>1</order_data_enabled>
                <quote_data_enabled>1</quote_data_enabled>
                <transaction_layout_handles>checkout_onepage_success</transaction_layout_handles>
            </data_layer>
            <customer_data>
                <existing_customer_mode>grand_total,basket,registered</existing_customer_mode>
                <include_recently_viewed_products>1</include_recently_viewed_products>
                <recently_viewed_product_limit>10</recently_viewed_product_limit>
            </customer_data>
            <quote_data>
                <include_invisible_items>0</include_invisible_items>
            </quote_data>
            <order_data>
                <include_invisible_items>0</include_invisible_items>
            </order_data>
        </eralis_googletagmanager>
    </default>
</config>