<?xml version="1.0"?>
<config>
    <modules>
        <Eralis_GoogleTagManager>
            <version>0.1.0</version>
        </Eralis_GoogleTagManager>
    </modules>
    <global>
        <models>
            <eralis_googletagmanager>
                <class>Eralis_GoogleTagManager_Model</class>
                <resourceModel>eralis_googletagmanager_resource</resourceModel>
            </eralis_googletagmanager>
        </models>
        <blocks>
            <eralis_googletagmanager>
                <class>Eralis_GoogleTagManager_Block</class>
            </eralis_googletagmanager>
        </blocks>
        <helpers>
            <eralis_googletagmanager>
                <class>Eralis_GoogleTagManager_Helper</class>
            </eralis_googletagmanager>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <eralis_googletagmanager_checkout_success>
                        <class>eralis_googletagmanager/observer</class>
                        <method>addTransactionData</method>
                    </eralis_googletagmanager_checkout_success>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
    <default>
        <eralis_googletagmanager>
            <general>
                <active>0</active>
            </general>
            <data_layer>
                <data_layer_name>dataLayer</data_layer_name>
                <transactions>0</transactions>
                <visitors>0</visitors>
            </data_layer>
        </eralis_googletagmanager>
    </default>
</config>